 .top-menu {
  display: flex;
  justify-content: space-between;
  background-color:#1976d2; 
  color: white;
 margin-top: 10px;
 padding: 10px 40px;
 justify-content: flex-end;
}
.menu-right a {
  color: white;
  margin: 15px;
  text-decoration: none;
  margin-left: 25px;
  
  
}


