 .card {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: #1976d2;     
  border-radius: 12px;
  color: white;               
}

.card h2 {
  margin-top: 0;
  font-size: 24px;
  color: black;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;              

}

.content h3 {
  margin: 10px 0 5px;
  font-size: 20px;
  color: white;               
}

.content  {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-weight: 400;
  color: white;                        

}

.btn {
  width: 160px;
  margin: 15px auto 0;
  padding: 10px 0;
  background:  black;       
  color: white;   
  border-radius: 8px;
  font-size: 15px;
}
.btn:hover {
  background: #e2e2e2;
}
